* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    text-align: center;
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#calculator {
    background: rgb(130, 130, 130);
    width: 328px;
    padding: 24px;
    margin: 0 auto;
    border-radius: 15px;
}

#display {
    background: rgb(189, 202, 158);
    text-align: end;
    padding: 8px 16px;
    margin-bottom: 24px;
    font-family: monaco, monospace;  
    font-size: 28px;
    border-radius: 5px;
    box-shadow: inset 1px 1px 4px 2px black;
}

#edit {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.edit {
    background-color: rgb(65, 65, 65);
    color: white;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.btn,
#equals {
    width: 64px;
    border: 0;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    /* font-weight: 700; */
    border-radius: 5px;
    box-shadow: 2px 2px 3px 0 black;
}

.num {
    background-color: white;
}

.operator {
    background-color: lightgray;
    /* font-weight: 700; */
}

#equals {
    background-color: orange;
}